# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/BiRD_view_v5.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
app_v4.py
generate_example_json_file.py
process_BRDF_file.py
test1.py
venv/
