# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/BiRD_view_v5.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
Unrelated test files/app_v4.py
Unrelated test files/generate_example_json_file.py
Unrelated test files/process_BRDF_file.py
Unrelated test files/test1.py
venv/
Unrelated test files/
Unrelated test files/test json files/
/Unrelated test files/test json files/
